extends layout

block content
 
 section#portfolio.portfolio
  .container
   h2.text-center.text-uppercase.text-secondary.mb-0 Portfolio
   hr.star-dark.mb-5
   .row
    each row,i in rows
     .col-md-6.col-lg-4
        a.portfolio-item.d-block.mx-auto(href='#portfolio-modal#{i}')
          .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
            .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
              i.fa.fa-search-plus.fa-3x
          img.img-fluid(src='img/portfolio/#{row.image}', alt='')
 each row ,i in rows
  div(id='portfolio-modal#{i}').portfolio-modal.mfp-hide
      .portfolio-modal-dialog.bg-white
        a.close-button.d-none.d-md-block.portfolio-modal-dismiss(href='#')
          i.fa.fa-3x.fa-times
        .container.text-center
          .row
            .col-lg-8.mx-auto
              h2.text-secondary.text-uppercase.mb-0  #{row.title}
              
              hr.star-dark.mb-5
              img.img-fluid.mb-5(src='img/portfolio/#{row.image}', alt='')
              p.mb-5
                | #{row.description}
          ul.list-inline.item-details
                  li.list-inline-item
                    |Client:
                    strong #{row.client}
                  
                  li.list-inline-item 
                    |Service:
                    strong #{row.service}
                  
                  li.list-inline-item 
                    |Date:
                    strong #{moment(row.date).format("MM-DD-YYYY")}
              a.btn.btn-primary.btn-lg.rounded-pill.portfolio-modal-dismiss(href='#')
                i.fa.fa-close
                |                 Close Project
 